<p>You're on Rails!</p>

<div id="ably" data-config-id="<%=ENV['ABLY_PRIVATE_KEY']%>">
  <h2>Ably</h2>
  <p>Post client side message</p>
  <textarea name="message" id="ably-message" cols="30" rows="10"></textarea>
  <button id="ably-publish">Post</button>
  <div class="ably-data">
  </div>
  <br>
  <a href="/push?client=ably" target="_blank" data-remote="true">get cool message from backend using ably</a>
  <br>
</div>

<div id="pusher" data-config-id="<%=ENV['PUSHER_KEY']%>">
  <h2>Pusher</h2>
  <p>Post client side message to private channel</p>
  <textarea name="message" id="pusher-message" cols="30" rows="10"></textarea>
  <button id="pusher-publish">Post</button>
  <br>
  <a href="/push?client=pusher" target="_blank" data-remote="true">get cool message from backend using pusher</a>
  <br>
</div>

