<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdn.ably.io/lib/ably.min-1.js' %>
    <%= javascript_include_tag '//js.pusher.com/4.3/pusher.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
